<%= content_for(:meta_title, t('nlt.edit_this_ad')) %>

<div id="newinside" class="col-md-6 col-md-offset-3">
  <h1 id="title"><%= t('nlt.edit_this_ad') %></h1>
  <%= render 'form' %>
</div><!--/newinside-->

<center><%= image_tag "propias/bodegon-formularios.png", :alt => "Imagen bodegón'", :class => "img-responsive" %></center>