<%= content_for(:meta_title, t('nlt.edit_this_ad')) %>

<div id="newinside" class="col-md-6 col-md-offset-3">
  <h1 id="title"><%= t('nlt.edit_this_ad') %></h1>
  <%= render 'form' %>

  <%#= link_to ad_path(@ad), method: :delete, data: { confirm: t('nlt.delete_sure') } do %>
    <%#= image_tag "delete_ad.png" %>
    <%#= t('nlt.delete_ad') %>
  <%# end %>

</div><!--/newinside-->

<center><%= image_tag "propias/bodegon-formularios.png", :alt => "Imagen bodegón'", :class => "img-responsive" %></center>