<div id="newinside" class="col-md-8 col-md-offset-2">

<h1 id="title">Editando Idea</h1>

<%= render partial: 'form', locals: {form_url: my_idea_path(@idea)} %>

</div><!--/newinside-->

<center><%= image_tag "propias/bodegon-formularios.png", :alt => "Imagen bodegón'", :class => "img-responsive" %></center>