<div class="ad_comments">
  <p class="mayusc"><%= t('nlt.comments.title') %></p>
  <%#= t('nlt.comments_count') %>

  <% comments.each do |comment| %>
    <% if comment.user %>
      <div class="ad_comment">
        <div id="avatar">
          <%= image_tag comment.user.image.url(:thumb), :alt => "", :class => "img-responsive" %>
        </div><!--/avatar--> 
        <div id="comment-text">
          <span class="ad_date">
          <%= t('nlt.published_at_by_html', time: distance_of_time_in_words_to_now(comment.created_at), user: link_to(comment.user.username, profile_path(comment.user))) %>
          </span>
         <br>
         <span><%= comment.body %></span>
       </div><!--/comment-text-->
      </div>

    <% end %>
  <% end %>
</div>
