<div id="sidebar-right">
  <h4>Noticias destacadas</h4>
  <ul>
  <% @noticias_destacadas.each do |noticia| %>
    <li><%= link_to noticia.title, noticia_url(noticia) %></li>
  <% end %>        
  </ul>


  <h4>Archivo de noticias</h4>
  <ul>
  <% @noticias_archivo.each do |noticia| %>
    <li><%= noticia.published_at.strftime("%d/%m/%Y") %> - <%= link_to noticia.title, noticia_url(noticia) %></li>
  <% end %>  
  </ul> 

  <h4>Temas destacados</h4>
  <ul>
    <li>..</li>
  </ul>

  <h4>Links interesantes</h4>
  <ul>
    <li><a href="http://prosalus.es" target="_blank">Prosalus</a></li>
  </ul>
</div><!-- /sidebar-right -->