<div id="sidebar-right">
  <h4>Noticias destacadas</h4>
  <ul>
  <% @noticias_destacadas.each do |noticia| %>
    <li><%= link_to noticia.title, noticia_url(noticia) %></li>
  <% end %>        
  </ul>


  <h4>Tweets</h4>
  

  <h4>Links interesantes</h4>
   <%= text_for :links %>
</div><!-- /sidebar-right -->