<div id="sidebar-right">
  <h4>Iniciativas destacadas</h4>
    blablabla
  <h4>Archivo de iniciativas</h4>
    Por fechas
  <h4>Temas destacados</h4>
    (Serán categorías de las organizations??)
    * Prosalus
    * Yonodesperdicio
  <h4>Links interesantes</h4>
    * Prosalus
    * blablalba
</div><!-- /sidebar-right -->
