<div id="sidebar-right">
  <h4>Iniciativas destacadas</h4>
  <ul>
  <% @iniciativas_destacadas.each do |iniciativa| %>
    <li><%= link_to iniciativa.title, iniciativa_url(iniciativa) %></li>
  <% end %>        
  </ul>


  <h4>Tweets</h4>

  <h4>Links interesantes</h4>
  <%= text_for :links %>
</div><!-- /sidebar-right -->