<div class="row homearriba col-md-12">

  <div class="col-md-4">
    Aquí imagen de RECETAS Y TRUCOS
    <%= link_to 'ideas frescas' , '#' %> |
  </div>

  <div class="col-md-4">
    Aquí imagen de COMPARTE
    <%= link_to 'alimentos para compartir' , '#' %> |
  </div>

  <div class="col-md-4">
    Aquí imagen de ORGANIZACIONES
    <%= link_to 'organizaciones??' , '#' %> |
  </div>

</div><!--/homearriba--->

<div class="row homeabajo col-md-12">

  <div class="col-md-4">
    Aquí una NOTICIA con foto, título y texto
  </div>

  <div class="col-md-4">
    Aquí CONTADOR DE COMIDA
  </div>

  <div class="col-md-4">
    Aquí una IDEA FRESCA con foto, título y texto
  </div>

</div><!--/homearriba--->
