<% content_for(:meta_title) {"particulares"} %>

<h1 class="titulorojo">Entre particulares</h1>

<div class="row">
  <div id="introduccion" class="col-md-8">
    <p>En esta página podrás ver los alimentos que los particulares ofrezcan. Esto es sólo un ejemplo.</p>
  </div><!-- col -->
</div><!-- /row -->


<!--pruebas-->
    <%# @alimentos.each do |ad| %>

      <!--<div class="col-md-4 col-sm-4 col-xs-12">
        <h3 class="veinticinco"><%#= link_to ad.title, ad_url(ad) %></h3>
        </div>
      </div>--><!--/col-md-4-->

    <%# end %>
<!--/pruebas-->




  <div id="gridalimentos" class="row">
    <%# @alimentos.each do |alimento| %>

      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="alimento">
          <center><%= image_tag "propias/ejemplo-alimento-compartido.png", :alt => "Imagen alimento'", :id => "caja-alimento", :class => "img-responsive" %></center>
          <%#= link_to image_tag(alimento.image.url(:medium), :alt => " ", :class => "img-responsive"), alimento_url(alimento) %>
          <%#= image_tag alimento.image.url(:medium), :alt => " ", :class => "img-responsive" %>
          <h3 class="veinticinco">Zanahorias<%#= link_to alimento.title, alimento_url(alimento) %></h3>
          <p class="cantidad">0,200 Kg</p>
          <p>Código postal: 28008 Madrid</p>
          <p>Fecha límite de entrega: 31/09/2015</p>
          <hr>
          <div id="usuario">
            <p><b>Cristina XXX</b></p>
            <p>Comida compartida: 8,200 Kg</p>
          </div>
        </div><!--/alimento-->
      </div><!--/col-md-4-->

      <div class="col-md-4">
        <div class="alimento">
          <center><%= image_tag "propias/ejemplo-alimento-compartido2.png", :alt => "Imagen alimento'", :id => "caja-alimento", :class => "img-responsive" %></center>
          <%#= link_to image_tag(alimento.image.url(:medium), :alt => " ", :class => "img-responsive"), alimento_url(alimento) %>
          <%#= image_tag alimento.image.url(:medium), :alt => " ", :class => "img-responsive" %>
          <h3 class="veinticinco">Pollo<%#= link_to alimento.title, alimento_url(alimento) %></h3>
          <p class="cantidad">0,100 Kg</p>
          <p>Código postal: 08003 Barcelona</p>
          <p>Fecha límite de entrega: 26/09/2015</p>
          <hr>
          <div id="usuario">
            <p><b>MariCruz XXX</b></p>
            <p>Comida compartida: 8,200 Kg</p>
          </div>
        </div><!--/alimento-->
      </div><!--/col-md-4-->

      <div class="col-md-4">
        <div class="alimento">
          <center><%= image_tag "propias/ejemplo-alimento-compartido3.png", :alt => "Imagen alimento'", :id => "caja-alimento", :class => "img-responsive" %></center>
          <%#= link_to image_tag(alimento.image.url(:medium), :alt => " ", :class => "img-responsive"), alimento_url(alimento) %>
          <%#= image_tag alimento.image.url(:medium), :alt => " ", :class => "img-responsive" %>
          <h3 class="veinticinco">Aguacates<%#= link_to alimento.title, alimento_url(alimento) %></h3>
          <p class="cantidad">0,500 Kg</p>
          <p>Código postal: 28018 Madrid</p>
          <p>Fecha límite de entrega: 31/09/2015</p>
          <hr>
          <div id="usuario">
            <p><b>Mario XXX</b></p>
            <p>Comida compartida: 9,200 Kg</p>
          </div>
        </div><!--/alimento-->
      </div><!--/col-md-4-->

    <%# end %>

</div><!--/gridrecetas-->
<%#= paginate(@alimentos) %>

