<% content_for (:meta_title) { @faq.try(:title) } %>

<div id="faq" class="row">
  <h2><%= @faq.try(:title) %></h2>
  <div id="main" class="col-md-12">
    <%= text_for(:faq) %>
  </div><!-- /main-->
</div><!-- /row-->
