<%#= content_for :meta_title, t('nlt.legal_page.title') %>
<% content_for (:meta_title) {@legal.title} %>

<div class="row">
  <h2><%= @legal.title %></h2>
  <div id="main" class="col-md-12">
    <%= markdown(@legal.body).html_safe %>
    <div class="google_ads">
    </div>
  </div><!-- /main -->
</div><!-- /row -->
